<h1>Bookmark Info</h1>

<p>Go to <a href="<%= @bookmark.url %>"><%= @bookmark.url %></a></p>
<p>URL submitted by: <b><%= @bookmark.topic.user.name %></b>  </p>

Go <%= link_to "Back", topics_path %>

<%= console %>
